// Definitions -----------------------------------------------------------------
$color-black: #000;
$color-grey-light: #d2d0cd;
$color-grey-dark: #888;
$color-white: #fff;
$color-bg-white: rgba(255, 255, 255, .9);
$color-bg-black: rgba(0, 0, 0, .1);

$color-red: #ff3b30;
$color-orange: #ff9500;
$color-yellow: #ffcc00;
$color-green: #4cd964;
$color-blue-teal: #5ac8fa;
$color-blue: #007aff;
$color-blue-foursquare: #0038a2;
$color-purple: #5856d6;
$color-pink: #ff2d55;

$shadow: rgba(0, 0, 0, .5) 0 2px 8px;

$font-main: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
$font-comic: "Comic Sans MS", cursive, sans-serif;
$font-symbol: "Segoe UI Symbol", Arial, sans-serif;

$anim-quick: 100ms ease-in-out;
$anim-slow: 1s ease-in-out;

$control-height: 42px;
$border-radius: 8px;

// Helpers ---------------------------------------------------------------------
@mixin text-stroke($color) {
  text-shadow: 1px 0 0 $color, -1px 0 0 $color, 0 1px 0 $color, 0 -1px 0 $color;
}
